<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> -->
  <title></title>
  <meta name="description" content="">

  <meta name="viewport" content="width=device-width">
  <link href='http://fonts.googleapis.com/css?family=GFS+Didot|Capriola' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/html5bp.css">
  <link rel="stylesheet" href="css/site.css">

  <script src="js/modernizr-2.5.3.min.js"></script>
</head>
<body>
  <header>
    <%= render 'source/includes/header.rhtml' %>
  </header>


  <div role="main">
    <%= yield %>
  </div><!-- main -->

  <footer>
    <%= render 'source/includes/footer.rhtml' %>
  </footer>


  <!-- <script src="js/plugins.js"></script> -->
  <!-- <script src="js/script.js"></script> -->

  <script>
    var _gaq=[['_setAccount','UA-2400207-1'],['_trackPageview'],['_setDomainName', 'deckle.co.za']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>